@tailwind base;
@tailwind components;
@tailwind utilities;


.drawer-side a.active {
  color: white;
}
.drawer-side a {
  background-color: transparent;
}
body.dark {
  background-color: rgb(10, 10, 10);
  color: #fff;
}